body {
  background-color: #bad7df;
  color: #06623b;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 2;
  text-align: center;
}

h1 {
  color: #679b9b;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  /*16px=100%=1em/rem(!inherit;use rem)*/
}

h2 {
  color: #12947f;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  color: #12947f;
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

.chef {
  font-weight: bolder;
}

table {
  border-spacing: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.restaurant-name {
  font-weight: bolder;
}

img {
  opacity: 0.75;
}

.profileimage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.image:hover {
  opacity: 1;
}

.fermenting {
  height: 200px;
}

.top-container {
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 160px;
  top: 60px;
}

.bottom-cloud {
  position: absolute;
  bottom: 100px;
  left: 200px;
}

.footer-link {
  color: #12947f;
  margin: 10px;
}

.footer-link:hover {
  color: #f17808;
}

.mailme:hover {
  color: #f17808;
}
